.button-work {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: $red;
    border: 5px solid $red;
    padding: 15px 30px;
    @media(max-width: $small) {
        font-size: 17px;
        padding: 10px 30px;
    }
    @media screen and (max-width: $small) {
        font-size: 17px;
        padding: 10px 30px;
    }
    @media (max-height: $h-small) {
        font-size: 17px;
        padding: 8px 30px;
    }
    &:hover {
        background: transparentize($red, 0.8);
    }
    .arrow-right img {
        width: 20px;
        vertical-align: middle;
        margin-left: 15px;
    }
}