.highlight-container {
    background: $red;
    display: flex;
    align-items: flex-end;
    width: 380px;
    height: 90px;
    @media (max-height: $h-small) {
        width: 70%;
        height: 40px;
    }
}

.underline-container {
    margin-left: 15px;
    @media(max-width:$medium) {
        margin-left: 5px;
    }
    display: flex;
    align-items: flex-end;
    width: 400px;
    height: 90px;
    @media (max-height: $h-small) {
        height: 40px;
    }
}

.highlight {
    width: 100%;
    background: $red;
    padding-right: 5px;
    padding-bottom: 5px;
}

.underline--thick {
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background: $red;
    }
}

.underline--thin {
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: $red;
    }
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.underline {

}