.slideRight{
	animation-name: slideRight;

	animation-duration: 1s;	

	animation-timing-function: ease-in-out;			

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}		
	100% {
		transform: translateX(0%);
	}	
}

.slideLeft{
	animation-name: slideLeft;

	animation-duration: 1s;	

	animation-timing-function: ease-in-out;			

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}		
	100% {
		transform: translateX(0%);
	}
}

.fadeIn{
	animation-name: fadeIn;

	animation-duration: 1s;	

	animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.05);	
	}
	80% {
		transform: scale(0.95);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

.fadeUpIn{
	animation-name: fadeUpIn;

	animation-duration: 1s;	

	animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeUpIn {
	0% {
		transform: translateY(150%);
		opacity: 0.0;		
	}
	100% {
		transform: translateY(0%);
		opacity: 1;	
	}		
}

.grow {
	visibility:  visible !important;
	animation-name: grow;
	animation-duration: 1s;
	transform-origin: bottom;
  }
  
  @keyframes grow {
	  0% {
		  transform: scaleY(0);
	  }		
	  100% {
		  transform: scaleY(1);
	  }
  }

  .show {
	animation-name: grow;
	animation-duration: 500ms;
  }
  
  @keyframes grow {
	  0% {
		  transform: scaleY(0);
	  }		
	  100% {
		  transform: scaleY(1);
	  }
  }