.work {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $offwhite;
}

.work-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    & .images {
        position: relative;
        &#sosme {
            margin: 20px 0 0 75px;
        }
        
        & #sosme-phone {
            @media screen and (max-width: $medium){
                left: -45px;
                top: 10px;
                max-height: 50vw;
            }
            visibility: hidden;
            position: absolute;
            top: 60px;
            left: -50px;
            max-height: 300px;
        }
        & #sosme-landing {
            @media screen and (max-width: $medium){
                left: -45px;
                top: 10px;
                max-width: 75vw;
                margin-bottom: 30px;
            }
            width: 70vw;
            max-width: 500px;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,0.50);
            margin-bottom: 100px;
        }
        
        & .grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1005px;
            
            & img {
                visibility: hidden;
                width: 30%;
                height: 30%;
                transition: all 200ms ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    & .title {
        color: $red;
        line-height: 35px;
        display: flex;
        @media screen and (max-width: $medium){
            flex-direction: column;
            align-items: center;
        }
        & .logos {
            display: flex;
            flex-direction: row;
            & .logo {
                & img {
                    height: 35px;
                    margin-left: 20px;
                }
            }
            
        }
    }
    & .details {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: $medium){
            flex-direction: column-reverse;
        }
        & .description {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media screen and (max-width: $medium){
                flex-grow: 0;
                width: auto;
            }
            padding: 20px;
            width: 0;
        }
        & .role {
            color: $green;
        }
        & .project-info {
            line-height: 25px;
            letter-spacing: 1px;
            font-size: 12px;
        }
        & .project-link {
            align-self: center;
        }
    }
}