body {
    height: 200vh;
    background: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(max-width: $medium) {
        display: block;
    }
}
.landing .main {
    height: 80vh;
    max-width: 800px;
    padding-top: 60px;
    padding-bottom: 60px;
    @media (max-height: $h-small) {
        height: 90vh;
        padding-top: 0px;
        padding-bottom: 20px;
    }
    background: $black;
    font-family: 'Bungee', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing .header {
    & .title {
        padding: 0px 20px;
        font-size: 120px;
        @media(max-width: $medium) {
            font-size: 15vw;
        }   
        @media (max-height: $h-small) {
            font-size: 11vw;
        }
        text-shadow: -15px 10px 0 $blue;
        color: $egg;
    }
}

.landing .trailer {
    font-family: 'Syncopate', sans-serif;
    font-size: 36px;
    @media(max-width:$small) {
        font-size: 7vw;
    }
    @media (max-height: $h-small) {
        font-size: 3vw;
    }
    font-weight: bold;
    color: $egg;
    display: flex;
    flex-direction: row;
}

.landing .action {
    display: flex;
    &.centered {
        justify-content: center;
    }
}

.sinewave {
    width: 100%;
}
#pt {
    width: 100%;
}