include mixins/key-item.pug
include mixins/bar.pug
section.about
    .section-content
        .heading.underline--thin About
        .key-items
            +key-item('img/rocket.svg', 'Fast', 'Tiny load times and smooth UIs.')
            +key-item('img/stars.svg', 'Responsive', 'Mobile first; things should look amazing on any device.')
            +key-item('img/solar.svg', 'Modern', 'Latest tech to build the UX that users expect.')
            +key-item('img/planet.svg', 'Secure', 'best practice – always.')
        .details
            .profile
                .image
                    img(src='img/me.jpg')
                .text
                    p.
                        System analyst at Mind Australia in Melbourne, AU.
                    p.
                        A curious nature and passion for great UI, responsive design and system security. Strong background in SQL and reporting dashboards with a growing portfolio of modern, responsive web projects.
                    p.
                        On the side I build drones, play with analogue photography and make things that move. Check out my #[a(href='https://www.instagram.com/adam_thomps/') instagram] to see some of my other projects!
            .skills
                .chart
                    .bar
                        .body.axis
                            .marker 0% 
                            .marker 20% 
                            .marker 40% 
                            .marker 60% 
                            .marker 80% 
                            .marker 100% 
                    +bar('Node', 'img/node.svg', 'seventy')
                    +bar('SQL', 'img/sql-server.svg', 'ninty')
                    +bar('Mongo DB', 'img/mongo.png', 'seventy')
                    +bar('React', 'img/react.svg', 'eighty')
                    +bar('Redux', 'img/redux.svg', 'seventy')
                    +bar('Sass', 'img/sass.svg', 'sixty')
