include mixins/key-item.pug
include mixins/bar.pug
section.about
    .heading.underline--thin About
    .key-items
        +key-item('img/rocket.svg', 'Fast', 'Some text')
        +key-item('img/stars.svg', 'Responsive', 'Some text')
        +key-item('img/solar.svg', 'Modern', 'Some text')
        +key-item('img/planet.svg', 'Secure', 'Some text')
    .details
        .profile
            .image
                img(src='img/me.jpg')
            .text
                p.
                    I am a system analyst for
                    Mind Australia in Melbourne, AU.
                p.
                    Deeply Curious, committed and 
                    passionate about good UI,
                    responsive design and secure
                    back ends. 
        .skills
            .chart
                .bar
                    .body.axis
                        .marker 0% 
                        .marker 20% 
                        .marker 40% 
                        .marker 60% 
                        .marker 80% 
                        .marker 100% 
                +bar('Node', 'img/node.svg', 'seventy')
                +bar('React', 'img/react.svg', 'ninty')
                +bar('Redux', 'img/redux.svg', 'seventy')
                +bar('Sass', 'img/sass.svg', 'eighty')
                +bar('Karma', 'img/karma.svg', 'forty')
                

    