section.contact
    .heading.underline--thin.blue Contact
    .networks
        a(href='https://github.com/adamth').image
            img(src='img/github.svg', alt='github logo')
        a(href='https://www.linkedin.com/in/adam-thompson-47356882/').image
            img(src='img/linked-in.svg', alt='linked in logo')
        a(href='https://www.instagram.com/adam_thomps/').image
            img(src='img/instagram.svg', alt='instagram logo')
    .contact-me
        .title Get in contact
        form
            input(type='text' placeholder='name')#name
            input(type='text' placeholder='email')#email
            textarea(name='message', cols='30', rows='10' placeholder='message')#message
            button(type='submit') Send