section.landing
    .main
        .header    
            .title  Adam Thompson
        .trailer
            .highlight-container
                .highlight.right Full stack
            .underline-container
                .underline web developer
        .action.centered
            .button.button-work My work
                .arrow-right
                    img(src='img/right.svg')
section.sinewave
    #pt