section.landing
    .main
        .header    
            .title  Adam Thompson
        .trailer
            .highlight.right Full stack
            .underline web developer
        .action.centered
            .button.button-work My work
                .arrow-right
    #pt