section.work
    .heading.underline--thin My work
    .work-items
        .work-item
            .title 
                .text SOSMe.info
                .logos
                    .logo
                        img(src='img/react.svg', alt='react logo')
                    .logo
                        img(src='img/redux.svg', alt='redux logo')
                    .logo
                        img(src='img/node.svg', alt='node logo')
                    .logo
                        img(src='img/mongo.png', alt='mongo logo')
            .images#sosme
                img#sosme-phone(src='img/sosme-iphone.png', alt='sosme iphone')
                img#sosme-landing(src='img/sosme-landing.jpg' alt='sosme landing')
        .work-item
            .title 
                .text Mind Australia
            .images
                .grid
                    img(src='img/servicedesk.jpg', alt='image')
                    img(src='img/hr.jpg', alt='image') 
                    img(src='img/sqar.jpg', alt='image') 
                    img(src='img/incident.jpg', alt='image') 
                    img(src='img/sog.jpg', alt='image') 
                    img(src='img/servicereg.jpg', alt='image') 