section.work
    .heading.underline--thin My work
    .work-items
        .work-item
            .title 
                .text SOSMe.info
                .logos
                    .logo
                        img(src='img/react.svg', alt='react logo')
                    .logo
                        img(src='img/redux.svg', alt='redux logo')
                    .logo
                        img(src='img/node.svg', alt='node logo')
                    .logo
                        img(src='img/mongo.png', alt='mongo logo')
            .details
                .description
                    .role
                        p Full stack developer
                    .project-info
                        p SOSme is a personal safety organisation revolutionising the we get help when we need it most. Rebuilt from the ground up, the new website focuses on delivering a highly polished mobile experience and significaly improved overall performance.
                    .project-link
                        .button.button-project Launching soon
                .images#sosme
                    img#sosme-phone.hidden(src='img/sosme-iphone.png', alt='sosme iphone')
                    img#sosme-landing(src='img/sosme-landing.jpg' alt='sosme landing')
        .work-item
            .title 
                .text Mind Australia
            .images
                .grid
                    img(src='img/servicedesk.jpg', alt='image').grid-image#1
                    img(src='img/hr.jpg', alt='image').grid-image#2
                    img(src='img/sqar.jpg', alt='image').grid-image#3
                    img(src='img/incident.jpg', alt='image').grid-image#4
                    img(src='img/sog.jpg', alt='image').grid-image#5
                    img(src='img/servicereg.jpg', alt='image').grid-image#6