doctype html
html(lang="en")
  head
    title= 'Adam th dot com'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    include pug/landing.pug